html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, #f8e8ee 0%, #f8e8ee 10%, #eaf1f2 90%, #eaf1f2 100%);
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.outer-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
}

/* White box */
.inner-card {
    background-color: white;
    width: 100%;
    max-width: 1100px;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

/* Buttons */
.material-button {
    background-color: #212721 !important;
    font-size: 16px;
    color: white !important;
    text-transform: capitalize !important;
    font-weight: 300 !important;
    border-radius: 8px !important;
    height: 36px !important;
}

/* Hover */
.material-button:hover {
    background-color: #494d48 !important;
}

/* Disabled */
.material-button.Mui-disabled {
    background-color: #494d48 !important;
    color: #cccccc !important;
    cursor: not-allowed;
}