.loading-bar {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 555px;
    height: 11px;
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to right, #E6D4DC, #8CD9DA);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.MuiLinearProgress-root {
    background: transparent !important;
    height: 100%;
}

.MuiLinearProgress-bar {
    background: linear-gradient(to right, #E6D4DC, #8CD9DA) !important;
    border-radius: 10px;
}

@media (max-width: 768px) {

    .loading-bar {
        max-width: 400px;
    }


}